
<select [(ngModel)]="selectedLeague" (ngModelChange)="getDrafts()">
  @for (l of leagues; track l) {
    <option [ngValue]="l">{{l.name}}</option>
  }
</select>

<select [(ngModel)]="selectedDraft" (ngModelChange)="changeDraft()">
  <option selected>Select draft...</option>
  @for (d of drafts; track d) {
    <option [ngValue]="d">{{d.draft_name}}</option>
  }
</select>

@if (selectedDraft) {
  <div>
    <h2>{{selectedDraftDetail.draft_name}}</h2>
    <p>{{selectedDraftDetail.draft_type}} draft ({{selectedDraftDetail.draft_key}})</p>
    <table class="picked">
      <caption>
        <table class="score-legend">
          <td class="score-legend play0">Not Played</td>
          <td class="score-legend playing1">Playing 1st</td>
          <td class="score-legend play1">1 Done</td>
          <td class="score-legend playing2">Playing 2nd</td>
          <td class="score-legend play2">2 Done</td>
        </table>
      </caption>
      <thead>
        <tr>
          <th>Pick</th>
          <th>Team</th>
          @for (i of counter(selectedDraftDetail.rounds); track i) {
            <th>Pick {{i+1}}</th>
          }
          <th>Total Score</th>
        </tr>
      </thead>
      <tbody>
        @for (team of selectedDraftDetail.teams; track team) {
          <tr>
            <td rowspan="2">{{team.slot}}</td>
            <td rowspan="2">{{team.team_short}}</td>
            @for (i of counter(selectedDraftDetail.rounds); track i) {
              <td [ngClass]="team.picks[i] == undefined ? 'Assigned' : team.picks[i].pick_status">
                {{team.picks[i] ? team.picks[i].pick_id : ""}}
              </td>
            }
            <td rowspan="2">{{team.score}}</td>
          </tr>
          <tr>
            <td style="display:none"></td>
            <td style="display:none"></td>
            @for (i of counter(selectedDraftDetail.rounds); track i) {
              <td [ngClass]="getCssClassesForDraftPick(team.picks[i])">
                <i>{{team.picks[i] ? team.picks[i].score : ""}}</i>
              </td>
            }
            <td style="display:none"></td>
          </tr>
        }
      </tbody>
    </table>
    <br>
      @if (availableDraftPicks) {
        <div>
          <table>
            <thead>
              <th colspan="10">Available Teams</th>
            </thead>
            @for (row of availableDraftPicks; track row) {
              <tr>
                @for (pick of row; track pick) {
                  <td class="available">{{pick.pick_id}}</td>
                }
              </tr>
            }
          </table>
        </div>
      }
      <!-- Display Results as graph -->
      <!-- <div class="bargraph">
      <div class="bars" *ngFor="let bar of bars">
        <span>{{bar.value}}</span>
        <div class="bar" [style.background-color]="bar.color" [style.height]="bar.size"></div>
      </div>
    </div>
    <div class="line"></div>
    <div class="legends">
      <spen *ngFor="let bar of bars">{{bar.legend}}</spen>
    </div> -->
  </div>
}



